<p>reactiveform works!</p>


<!--connect registerForm object with HTML form-->
<div class="container col-sm-8 ">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <!--username-->
        <input type="text" name="username" id="" class="form-control mb-2" placeholder="username" formControlName="username">
        <p *ngIf="registerForm.get('username').errors?.required&&registerForm.get('username').touched">This is required</p>
        <input type="email" name="email" id="" class="form-control mb-2" placeholder="email"formControlName="email">
        <input type="text" name="name" id="" class="form-control mb-2" placeholder="name" formControlName="name">
        <!--radio-->

        <div class="form-group">
            <div class="form-check">
                <input type="radio" name="gender" id="m" class="form-check-input" formControlName="gender" value="male">
                <label for="m" class="form-check-label">Male</label>
            </div>
            <div class="form-check">
                <input type="radio" name="gender" id="f" class="form-check-input" formControlName="gender" value="female">
                <label for="f" class="form-check-label">Female</label>
            </div>    

        </div>

        <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Submit</button>
    </form>
</div>